<div class="background-picture">
    <div>
        <div class="login-container">
            <form style="margin-top: 100px;">
                <h1 style="font-family: 'Courier New', Courier, monospace;">MovieScout</h1>
                <h1>Login</h1>
                <div class="form-group">
                    <a style="margin-left: 90px;" (click)="signInWithFB()">
                        <img (click)="signInWithFB()" style="width: 50%; height: 50%; border-radius: 10px;" src="https://f4n3x6c5.stackpathcdn.com/article/facebook-login-setup-in-net-core2-0-step-by-step-guide/Images/image001.png" width="300px" height="100px" alt="Log in with Facebook" />
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
