.background-picture {
    background-image: url(https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&q=80);
    height: 100%;
    background-size: 100% auto;
}

.login-container {
    width: 400px;
    margin: auto auto;

    border-radius: 5px;
    padding: 20px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.login-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}
